<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body style="background-color: aliceblue; text-align: center;" >
    <h1 style="text-align: center; color: greenyellow; background-color: green;">Send Your Chat </h1>
    <form action="/chats" method="post" style="border: 3px solid rgb(21, 255, 0); margin: 240px; display: inline-flex ; flex-direction: column;  text-align: center;">
        <input type="text" placeholder="Sender" name="sender" style=" margin: 7px; "/> <br />
        <input type="text" placeholder="Enter message" name="msg" style=" margin: 7px"/> <br />
        <input type="text" placeholder="Receiver" name="reciever" style=" margin: 7px"/> <br />
        <button style=" margin: 7px; background-color: greenyellow; color: green;">Submit</button>
    </form>
    <footer style="background-color: greenyellow; color: green; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
        <p>&copy; 2024 Virat Creations. All rights reserved.</p>
    </footer>
</body>
</html>
