<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: antiquewhite; text-align: center;">
    <h1 style=" background-color: greenyellow; color: green; margin-bottom: 200px;">Welcome to chat application</h1>
    
    <button onclick="location.href='/chats'" style="background-color: greenyellow; color: green; padding: 15px 30px; font-size: 18px; margin: 10px 0; border: none; cursor: pointer;">All chats</button>
    <button onclick="location.href='/chats/new'" style="background-color: greenyellow; color: green; padding: 15px 30px; font-size: 18px; margin: 10px 0; border: none; cursor: pointer;">Chat</button>
    
    <footer style="background-color: greenyellow; color: green; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
        <p>&copy; 2024 Virat Creations. All rights reserved.</p>
    </footer>
</body>
</html>
